.groupCardContainer {
    width: 100%;
    display: flex
}

.groupCardBody {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: center;
}

button.editGroupButton {
    width: auto;
}

.newGroupButtonText {
    padding: var(--spacing);
    padding-top: var(--spacing);
}

.newGroupButtonIcon {
    margin-bottom: 3px;
}